/* Small tablet to big tablet: from 768 to 1023px */
@media screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    .row {
        max-width: 90%;
    }

    h3 {
        font-size: 110%;
    }

    .dropdown {
        font-size: 70%;
        padding: 15px 0;
        margin: 0 45px;
    }

    .dropdown-content {
        top: 45px;
    }

    .col {
        width: 100%;
    }

    .col-image {
        padding: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .col-image img {
        height: auto;
        width: 75%;
    }

    .col-desc {
        padding: 20px;
    }

    .col-desc div:nth-child(2) {
        font-size: 80%;
    }

    .col-desc p {
        font-size: 70%;
    }

    .col-desc div:nth-child(4), .col-desc div:nth-child(5) button {
        font-size: 65%;
    }

}

/* Small phones to small tablets: from 481 to 767px */
@media screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    .dropdown-content {
        top: 42px;
    }

}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .row {
        max-width: 100%;
    }

    h3 {
        font-size: 150%;
    }

    .dropdown {
        padding: 5px 0;
        font-size: 85%;
        margin: 0 15px;
    }

    .dropdown-icon {
        display: block;
        margin-right: 5px;
        font-size: 180%;
    }

    .dropdown-text {
        display: none;
        margin-right: 5px;
    }

    .dropdown-content {
        min-width: 100%;
        top: 38px;
    }

    .cart {
        margin-right: 120px;
    }

    .col-image img {
        width: 100%;
    }

    .col-desc div:nth-child(2) {
        border: none;
        font-size: 90%;
    }


    .col-desc p {
        font-size: 85%;
    }

    .col-desc div:nth-child(4) {
        font-size: 75%;
    }

    .col-desc div:nth-child(5) button {
        font-size: 75%;
        width: 40px;
        padding: 12px 5px;
    }

    .col-desc div:last-child button {
        font-weight: bold;
        padding: 10px 35px;
        font-size: 80%;
    }
}
